<div
  fxLayout="column wrap"
  fxLayoutGap="30px"
  fxLayoutAlign="space-around"
  >
    <mat-card *ngIf="!user" class="cardspec">
      <mat-card-header>
        <mat-card-title>MESTEREMBER</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Üdvözöljük a mesterember ajánló alkalmazás adminisztrátori felületén. A folytatáshoz kérjük, lépjen be!
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button routerLink='/login'>Login</button>
      </mat-card-actions>
    </mat-card>
    <mat-card *ngIf="user" class="cardspec">
      <mat-card-header>
        <mat-card-title>MESTEREMBER</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Üdvözöljük {{ user.firstName }} a mesterember ajánló alkalmazás adminisztrátori felületén.<br>
          A megfelelő jogosultságok birtokában a linkeket használva elvégezhetőek az adatbázis karbantartási feladatok.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="onLogout()">Logout</button>
      </mat-card-actions>
    </mat-card>
    
</div>